<!-- <h1>Customers#edit</h1>
<p>Find me in app/views/customers/edit.html.erb</p> -->
<h1>Hack Your Customers Here</h1>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |err_message| %>
      <li>
        <%= err_message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @customer do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :quote %>
  <%= f.text_area :quote %>

  <%= f.submit %>

<% end %>
